{{>layouts/header}}
<div>
    findById
    <form class = "container">
        {{#hospital}}
            <ul class="list-group">
                <li class="list-group-item">id: {{id}}</li>
                <li class="list-group-item">병원명: {{hospitalName}}</li>
                <li class="list-group-item">주소: {{roadNameAddress}}</li>
            </ul>
        {{/hospital}}
    </form>
</div>
{{>layouts/footer}}